.cart {
    background-color: var(--main-bg-color);
    padding-bottom: 160px;
}

.container {}

.cart__title {
    padding-top: 100px;
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
}

.cart__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.cart__inner-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.cart-controls {
    padding: 24px;
    height: 72px;
    background-color: #181716;
    max-width: 100%;
}

.cart-controls__selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-controls__select-all span {
    font-weight: 400;
    font-size: 21px;
    opacity: .8;
}

.cart-controls__checkbox {}

.cart-controls__remove-selected {
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    opacity: .8;
}

.cart-item {
    display: flex;
    justify-content: space-around;
    /* align-items: start; */
    gap: 20px;
    padding: 24px;
    max-width: 100%;
    height: 228px;
    background-color: #181716;
}

.cart-item__checkbox {}

.cart-item__image {
    max-width: 100%;
    height: auto;
}

.cart-item__details {
    display: flex;
    flex-direction: column;
}

.cart-item__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    opacity: .8;
    margin-bottom: 33px;
}

.cart-item__quantity {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    opacity: .8;
    margin-bottom: 9px;
}


.cart-item__quantity-value {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    opacity: .8;
}

.cart-item__attribute {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    opacity: .8;
    margin-bottom: 9px;
}

.cart-item__attribute-value {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    opacity: .8;
}

.cart-price__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.cart-item__price {
    font-weight: 400;
    font-size: 32px;
}

.cart-item__remove-btn {
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: #312d2a;
}

.cart-item__remove-icon {}

.cart-summary {
    padding: 24px;
    max-width: 435px;
    height: 680px;
    background: rgba(24, 23, 22, 0.64);
}

.cart-summary__total {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.cart-summary__title {
    font-weight: 400;
    font-size: 32px;
}

.cart-summary__amount {
    font-weight: 400;
    font-size: 32px;
}

.cart-summary__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.cart-summary__items-count {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    opacity: .4;
}

.cart-summary__subtotal {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 24px;
}

.cart-summary__discount {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    opacity: .4;
}

.cart-summary__discount-amount {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 24px;
    background: linear-gradient(166deg, #ffa500 0%, #f8bc36 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart-summary__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
}

.cart-summary__checkout-btn {}

.cart-summary__clear-btn {
    color: var(--color-white);
    background: #1b1917;
}

.cart-summary__privacy {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    opacity: .8;
    margin-bottom: 36px;
}

.cart-summary__delivery {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}


.cart-summary__delivery-select {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    border: 1px solid #1b1917;
    border-radius: 8px;
    padding: 16px 24px;
    width: 100%;
    height: 54px;
    background: #1b1917;
}

.cart-summary__delivery-info {
    display: flex;
    gap: 16px;
    padding: 8px;
    max-width: 100%;
    height: 116px;
    background: #1b1917;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    opacity: .8;
}

.cart-summary__delivery-cost {}

.cart-summary__delivery-warning {}

.cart-summary__delivery-options {}